<h1>Pictures</h1>

<%= link_to 'New Picture', new_picture_path %>

<% @pictures.each do |picture| %>
  <a href="<%= "/pictures/#{picture.id}" %>" class="image"><img src="<%= picture.url %>"></a>
<% end %>