<h1>Pictures</h1>

<%= link_to 'New Picture', new_picture_path %>
<section class="pictures">

  <% @pictures.each do |picture| %>
    <div class="frame">
      <a href="<%= "/pictures/#{picture.id}" %>" class="indexed_image"><img src="<%= picture.url %>"></a>
    </div>
  <% end %>

</section>
