<!DOCTYPE html>
<html>
<head>
  <title>MediaManager</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header id="fixed_header">
  <h1>Falling Sky Media Manager</h1>
</header>
<%= yield %>

<footer>
  <h4>Falling Sky Incorporated</h4>
</footer>
</body>
</html>