<!DOCTYPE html>
<html>
<head>
  <title>MediaManager</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header id="fixed_header">
  <div id="header_container">
  <h1>Falling Sky Media Manager</h1>
  <nav class="main_links">
    <a href="/pictures">All Pictures</a>
    <a href="/videos">All Videos</a>
  </nav>
  </div>
</header>
<main>
  <%= yield %>
</main>

<footer>
  <div id="footer_container">
  <h4>Not copyrighted at all</h4>
  </div>
</footer>
</body>
</html>